extends ../templates/main.pug

block title
  | Diseño web y Marketing Digital | EFECTO WEB MENDOZA

block content
  header
    include ../templates/block-navbar.pug
    section.header-container
      .jk-container.header.s-flex-center.full
        .jk-item.img.s-100.s-flex-center
          img(src="img/index/logo_header.png", alt="Logo Efecto Web", title="Diseño web y Marketing Digital en Mendoza")
          
        .jk-item.title.s-95.m-100.l-70
          h1 <strong>DISEÑO WEB</strong> Y <strong>MARKETING DIGITAL</strong> EN <strong>MENDOZA</strong>
        .jk-item.description.s-90.m-90.l-70
          h2 Iniciamos tu negocio en el mundo del <strong>Marketign Digital</strong>. El primer paso, la <strong>WEB</strong>.
    .arrow-container.jk-container.s-flex-center
      .jk-item.arrow
        a(href="#web")
          img(src="img/index/flechas.png", alt="arrow")
    
  main
    #web
    section.web-container
      .jk-container.web.s-main-space-around
        .jk-item.title.s-100.no-padding
          h3 PORQUE TU WEB TRABAJA POR VOS
        .jk-item.description.s-90.l-85.no-padding
          p Tener una web 24hs al dia a disposición de las personas que buscan tu producto, puede aumentar las ventas de tu negocio hasta un 50% el primer año. En EFECTO WEB desarrollamos estrategias de Marketing Digital y Diseños Web profesionales y te damos la posibilidad de tener tu propio negocio con los mejores métodos de pago y excelentes precios.

          .jk-item.s-100.metodos-pago.s-main-center
            .jk-item.metodo.s-main-center.s-50.m-25.l-20
              img.s-100(src="img/index/metodo-pago1.png", alt="")
              p.s-100 Pago en <br>efectivo
            .jk-item.metodo.s-main-center.s-50.m-25.l-20
              img.s-100(src="img/index/metodo-pago2.png", alt="")
              p.s-100 Mercado <br>pago
            .jk-item.metodo.s-main-center.s-50.m-25.l-20
              img.s-100(src="img/index/metodo-pago3.png", alt="")
              p.s-100 Transferencia <br>bancaria
            .jk-item.metodo.s-main-center.s-50.m-25.l-20
              img.s-100(src="img/index/metodo-pago4.png", alt="")
              p.s-100 Financiación <br>propia
          p.p-2 Te la hacemos fácil.
        .jk-item.botton.s-100.contact
          a(href="#contacto") Contactanos


    #que-hacemos      
    section.que-hacemos.container
      .jk-container.que-hacemos.s-main-space-around
        .jk-item.title.s-100.no-padding
          h3 ¿QUÉ HACEMOS?
      .jk-container.que-hacemos.s-main-space-around.s-hide
        .jk-item.box.s-100.m-45.l-30.s-main-center
          .jk-item.box-img.s-100
            img(src="img/index/icon1.png", alt="POSICIONAMIENTO SEO")
          .jk-item.box-title
            h4 POSICIONAMIENTO WEB <strong>SEO</strong>
          .jk-item.box-description
            p Que tu página web aparezca en los primeros lugares de los resultados de búsqueda cuando las personas necesiten lo que vos ofreces y así tu negocio online va a ser visible y rentable, aumentando tus ventas.
        .jk-item.box.s-100.m-45.l-30.s-main-center
          .jk-item.box-img.s-100
            img(src="img/index/icon2.png", alt="DISEÑO CREATIVO")
          .jk-item.box-title
            h4 <strong>DISEÑO</strong> MODERNOS
          .jk-item.box-description
            p El diseño genera el 60% de la intención de compra y nos asegura que tu página web sea un éxito y responda a la estrategia de marketing digital de tu negocio, mejorando la experiencia de tus usuarios.
        .jk-item.box.s-100.m-45.l-30.s-main-center
          .jk-item.box-img.s-100
            img(src="img/index/icon3.png", alt="PÁGINAS RESPONSIVE")
          .jk-item.box-title
            h4 PÁGINAS <strong>RESPONSIVE</strong>
          .jk-item.box-description
            p Tus clientes potenciales se encuentran en muchos dispositivos, sobre todo celulares, comutadoras y tablets, y es por eso que nos aseguramos que tu sitio web sea rápido, claro y efectivo en todas las plataformas.
        .jk-item.box.s-100.m-45.l-30.s-main-center
          .jk-item.box-img.s-100
            img(src="img/index/icon4.png", alt="CÓDIGO LIMPIO")
          .jk-item.box-title
            h4 <strong>OPTIMIZACIÓN</strong> WEB
          .jk-item.box-description
            p La programación de una página web es fundamental para que Google entienda y elija mostrarnos primero en sus resultados de búsqueda, por eso trabajamos con los mejores programadores web de Mendoza.
        .jk-item.box.s-100.m-45.l-30.s-main-center
          .jk-item.box-img.s-100
            img(src="img/index/icon5.png", alt="EMBUDOS DE CONVERSIÓN EFICIENTES")
          .jk-item.box-title
            h4 <strong>CONVERSIONES</strong>
          .jk-item.box-description
            p Lográ resultados reales, aumenta tus ventas, controla tus precios, analiza a tu público y cumplí tus objetivos de marketing digital dentro de tu web para lograr que tu negocio sea exitoso y rentable.
      
      .jk-container.que-hacemos-slider.s-main-space-around.m-hide.l-hide
        .jk-item.box.s-100.m-45.l-30.s-main-center
          .jk-item.box-img.s-100
            img(src="img/index/icon1.png", alt="POSICIONAMIENTO SEO")
          .jk-item.box-title
            h4 POSICIONAMIENTO WEB <strong>SEO</strong>
          .jk-item.box-description
            p Que tu página web aparezca en los primeros lugares de los resultados de búsqueda cuando las personas necesiten lo que vos ofreces y así tu negocio online va a ser visible y rentable, aumentando tus ventas.
        .jk-item.box.s-100.m-45.l-30.s-main-center
          .jk-item.box-img.s-100
            img(src="img/index/icon2.png", alt="DISEÑO CREATIVO")
          .jk-item.box-title
            h4 <strong>DISEÑO</strong> MODERNOS
          .jk-item.box-description
            p El diseño genera el 60% de la intención de compra y nos asegura que tu página web sea un éxito y responda a la estrategia de marketing digital de tu negocio, mejorando la experiencia de tus usuarios.
        .jk-item.box.s-100.m-45.l-30.s-main-center
          .jk-item.box-img.s-100
            img(src="img/index/icon3.png", alt="PÁGINAS RESPONSIVE")
          .jk-item.box-title
            h4 PÁGINAS <strong>RESPONSIVE</strong>
          .jk-item.box-description
            p Tus clientes potenciales se encuentran en muchos dispositivos, sobre todo celulares, comutadoras y tablets, y es por eso que nos aseguramos que tu sitio web sea rápido, claro y efectivo en todas las plataformas.
        .jk-item.box.s-100.m-45.l-30.s-main-center
          .jk-item.box-img.s-100
            img(src="img/index/icon4.png", alt="CÓDIGO LIMPIO")
          .jk-item.box-title
            h4 <strong>OPTIMIZACIÓN</strong> WEB
          .jk-item.box-description
            p La programación de una página web es fundamental para que Google entienda y elija mostrarnos primero en sus resultados de búsqueda, por eso trabajamos con los mejores programadores web de Mendoza.
        .jk-item.box.s-100.m-45.l-30.s-main-center
          .jk-item.box-img.s-100
            img(src="img/index/icon5.png", alt="EMBUDOS DE CONVERSIÓN EFICIENTES")
          .jk-item.box-title
            h4 EMBUDOS DE <strong>CONVERSIÓN</strong>
          .jk-item.box-description
            p Lográ resultados reales, aumenta tus ventas, controla tus precios, analiza a tu público y cumplí tus objetivos de marketing digital dentro de tu web para lograr que tu negocio sea exitoso y rentable.
      

    #nuestros-sitios
    section.planes-container
      .jk-container.planes.s-main-center
        .jk-item.title.s-100
          h3 NUESTROS SITIOS WEB
        .jk-item.description.s-90.l-85.no-padding
          p Tenemos los mejores precios de páginas web en Mendoza y te los mostramos para que elijas que precio se adapta más a tu presupuesto de marketing digital.
      .jk-container.planes.s-hide
        .jk-item.box.m-33.m-main-center
          .jk-item.top
            h4.box-title PÁGINA WEB <br> SIMPLE
          .jk-item.circle.m-flex-center
            p.box-price $6.100
          .jk-item.bottom.m-main-center.m-cross-end
            p.box-description.m-100
             |En 10 días <br> Selección de plantilla <br> Selección de servidor <br> Única Página
            a(href="#contacto" data-plan="landingPage").botton.button-plan.contact ELEGIR WEB
        .jk-item.box.m-33.m-main-center
          .jk-item.top
            h4.box-title SITIO WEB <br>PERSONALIZADO
          .jk-item.circle.m-flex-center
            p.box-price $10.200
          .jk-item.bottom.m-main-center.m-cross-end
            p.box-description.m-100
             |En 20 días <br> Estrategia SEO <br> Diseño Personalizado <br> Múltiples Páginas
            a(href="#contacto" data-plan="personalizado").botton.button-plan.contact ELEGIR WEB
        .jk-item.box.m-33.m-main-center
          .jk-item.top
            h4.box-title E-COMMERCE <br> TIENDA ONLINE
          .jk-item.circle.m-flex-center
            p.box-price $16.300
          .jk-item.bottom.m-main-center.m-cross-end
            p.box-description.m-100
             |En 40 días <br> Estrategia SEO <br> Diseño y Sistema Personalizado  <br> Desarrollo de estrategia
            a(href="#contacto" data-plan="eCommerce").botton.button-plan.contact ELEGIR WEB
      
      .jk-container.planes.s-main-center.m-hide.l-hide
        .jk-item.box-mobile.box-mobile-landing-page.s-80.s-flex-center
          .jk-item.no-padding.s-100.box-title.s-flex-center
            h4 PÁGINA WEB <br>SIMPLE
          .jk-item.no-padding.box-botton.s-flex-center 
            a(href="#contacto" data-plan="landingPage").botton.button-plan.contact ELEGIR WEB
          .jk-item.no-padding.s-100.box-price.s-flex-center
            p $6.100
          .jk-item.box-button-description-landing-page
          .jk-item.no-padding.s-100
          .jk-item.box-mobile-description-landing-page
            p En 10 días <br> Selección de plantilla <br> Selección de servidor <br> Única Página
        .jk-item.box-mobile.box-mobile-personalizado.s-80.s-flex-center
          .jk-item.no-padding.s-100.box-title.s-flex-center
            h4 SITIO WEB <br>PERSONALIZADO
          .jk-item.no-padding.box-botton.s-flex-center 
            a(href="#contacto" data-plan="personalizado").botton.button-plan.contact ELEGIR WEB
          .jk-item.no-padding.s-100.box-price.s-flex-center
            p $10.200
          .jk-item.box-button-description-personalizado
          .jk-item.no-padding.s-100
          .jk-item.box-mobile-description-personalizado.s-80
            p En 20 días <br> Estrategia SEO <br> Diseño Personalizado <br> Múltiples Páginas
        .jk-item.box-mobile.box-mobile-e-commerce.s-80.s-flex-center
          .jk-item.no-padding.s-100.box-title.s-flex-center
            h4 E-COMMERCE <br> TIENDA ONLINE
          .jk-item.no-padding.box-botton.s-flex-center 
            a(href="#contacto" data-plan="eCommerce").botton.button-plan.contact ELEGIR WEB
          .jk-item.no-padding.s-100.box-price.s-flex-center
            p $16.300
          .jk-item.box-button-description-e-commerce
          .jk-item.no-padding.s-100  
          .jk-item.box-mobile-description-e-commerce.s-80
            p En 40 días <br> Estrategia S.E.O <br> Diseño y Sistema Personalizado  <br> Desarrollo de estrategia
    
    
    #nuestros-servicios
    section.servicios-container
      .jk-container.servicios.s-main-center
        .jk-item.title.s-100
          h3 NUESTROS SERVICIOS DE MARKETING DIGITAL
        .jk-item.description.s-90.l-85.no-padding
          p Para seguir creciendo, posicionando tu página web y aumentando tus ventas online, lo ideal es medir y optimizar tu página web siempre, brindando la mejor experiencia de usuario.
      .jk-container.servicios.s-main-center
        .jk-item.box.s-80.m-30.l-30.s-main-center.s-cross-start
          .jk-item.box-img.s-100
            img(src="img/index/icon6.png", alt="SOCIAL MEDIA")
          .jk-item.box-title.s-70.m-100.s-flex-center
            h4 SOCIAL MEDIA
          .jk-item.box-description.m-100.s-hide
            p Busquemos a tus clientes mediante las redes sociales y posicionemos juntos tu comercio digital.
          .jk-item.box-price.s-flex-center
            p $6.500 <br> <span>MENSUAL</span>
        .jk-item.box.s-80.m-30.l-30.s-flex-center.s-cross-start
          .jk-item.box-img.s-100
            img(src="img/index/icon7.png", alt="PUBLICIDAD ONLINE")
          .jk-item.box-title.s-70.m-100
            h4 PUBLICIDAD ONLINE
          .jk-item.box-description.m-100.s-hide
            p Desarrollamos campañas publicitarias en los distintos medios digitales, adwords, facebokads.
          .jk-item.box-price.s-flex-center
            p $6.500 <br> <span>MENSUAL</span>
        .jk-item.box.s-80.m-30.l-30.s-flex-center.s-cross-start
          .jk-item.box-img.s-100
            img(src="img/index/icon8.png", alt="MANTENIMIENTO, ANALITICA WEB Y SEO")
          .jk-item.box-title.s-70.m-100
            h4 ANALITICA WEB Y SEO
          .jk-item.box-description.m-100.s-hide
            p Posicionemos tu pagina web y mejoremos la experiencia de los usuarios observando su comportamiento.
          .jk-item.box-price.s-flex-center
            p $6.500 <br> <span>MENSUAL</span>
          
    //- section.portfolio-container 
    //-   .jk-container.portfolio.s-main-center
    //-     .jk-item.title.s-100
    //-       h3 PORTFOLIO

  include ../templates/block-footer.pug
