footer.footer.s-main-center
    .jk-container.contacto.s-flex-center#contacto
        .jk-item.title.s-100
            h3 CONTACTANOS
        .jk-item.description.s-90.m-70.l-55
            p Envianos tus datos y preferencias y nos pondremos en contacto para que accedas a tu sitio web.
        
        form.jk-form.s-main-center.s-100.l-80(action="" name="jkForm" method="post")
            .form-item.s-100.m-45
                input#text1.required(type="text" name="nombre" placeholder="Nombre(*)")
            .form-item.s-100.m-45
                input#tel1.required(type="tel" name="celular" placeholder="Teléfono(*)")
            .form-item.s-100
                input#email1.required(type="email" name="email" placeholder="E-mail(*)")
            .form-item.s-100.m-45
                select#plantilla(name="plantilla")
                    option(value="null" disabled selected) Plantilla
                    option(value="landingPage") Landing page
                    option(value="personalizado") Personalizado
                    option(value="eCommerce") E-commerce
            .form-item.s-100.m-45
                select#plantilla(name="servicio")
                    option(value="null" disabled selected) Servicio
                    option(value="socialMedia") Social media
                    option(value="publicidadOnline") Publicidad online
                    option(value="eCommerce") Mantenimiento, analitica web y SEO
            .form-item.s-100
                textarea#textarea1(name="mensaje" placeholder="Mensaje" rows="5")
            .form-item.s-100
                input#submit1.form-button(type="submit" value="Enviar")

    .jk-container.s-flex-center.contact-message.hide
      h3.jk-item MUCHAS GRACIAS
      h4.jk-item EN BREVE NOS COMUNICAREMOS CON VOS

    .jk-container.footer-bottom.s-main-space-around.s-cross-center
        .jk-item.img.ew.s-flex-center
            img(src="img/logo_footer.png", alt="logo efecto web")
        .jk-item.tel.s-cross-center.s-flex-center
            a(href="").icon-phone   
            p 261 3072398
        .jk-item.facebook.s-cross-center.s-flex-center
            a(href="").icon-facebook 
            p @Efectowebmendoza
        .jk-item.mail
            a(href="").icon-mail.s-cross-center.s-flex-center
            p efectowebmendoza@gmail.com
            


