footer.footer.s-main-center
    #contacto
    .jk-container.contacto.s-flex-center
        .jk-item.title.s-100
            h3 CONTACTANOS
        .jk-item.description.s-90.m-70.l-60
            p Envianos tus datos, preferencia de precio y servicios y nos pondremos en contacto para que accedas a tu sitio web lo antes posible.
        include block-form.pug

    .jk-container.s-flex-center.contact-message.hide

        h3.jk-item.s-100.no-padding.s-flex-center MUCHAS GRACIAS
        h4.jk-item.s-100.no-padding.s-flex-center EN BREVE NOS COMUNICAREMOS CON VOS

    .jk-container.footer-bottom.s-main-space-around.s-cross-center
        .jk-item.img.ew.s-flex-center
            img(src="img/logo_footer.png", alt="logo efecto web")
        //- .jk-item.tel.s-cross-center.s-flex-center
        //-     a(href="").icon-phone   
        //-     p 261 3072398
        .jk-item.facebook.s-cross-center.s-flex-center
            a(href="https://www.facebook.com/Efectowebmendoza").icon-facebook 
            p @Efectowebmendoza
        .jk-item.mail
            a(href="#").icon-mail.s-cross-center.s-flex-center
            p efectowebmendoza@gmail.com
        .jk-item.instagram
            a(href="https://www.instagram.com/efectoweb.mza/").icon-instagram
            p EFECTO WEB
        .jk-item.linkedin
            a(href="https://www.linkedin.com/company/efectoweb").icon-linkedin
            p EFECTO WEB



