<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
      block title
    meta(name="description" content="Iniciemos tu negocio digital. En efecto web queremos ayudarte a crecer profesionalmente y tenemos una propuesta integral que te permite ganar en un mercado tan competitivo.")
    link(rel="stylesheet" href="css/index.min.css")
    //[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet")
    link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
    link(rel="manifest", href="img/favicon/site.webmanifest")
    link(rel="mask-icon", href="img/favicon/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")  
    
    script.
       (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
       new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
       j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
       'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
       })(window,document,'script','dataLayer','GTM-5SBNRMQ');
    
    meta(name="google-site-verification", content="3ngagpDL-7VV5BdTEkJhCRDoAAOKUCxPvyoPZlj9I6g")
    
    body
      block content

    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-5SBNRMQ", height="0", width="0", style="display:none;visibility:hidden")
